#header-bar {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-color: #1c1c1c;
    border-bottom: ridge;
    border-bottom-width: 5px;
    margin-bottom: 2rem;
    color: #d4af37;
}