#header-bar {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-color: 5a4c3b;
    border-bottom: ridge;
    border-bottom-width: 5px;
    margin-bottom: 2rem;
    color: #5a4c3b;
    font-size: x-small;
}