#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* min-width: 400px; */
  width: 100vh;
}


#red {
  background-color: rgb(255, 51, 0);
}

#lightred {
  background-color: rgb(160, 110, 110);
}

#lightgreen {
  background-color: lightgreen;
}

#green {
  background-color: rgb(56, 165, 56);
}


input {
  border: 1px solid black;
  border-radius: 2px;
  padding: 10px;
  width: 100%;
  /* margin: 5px; */
  box-sizing: border-box;
  margin-top: 5%;
  
}
