#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  /* min-width: 400px; */
  width: 100vh;
}


#red {
  background-color: rgb(255, 51, 0);
}

#lightred {
  background-color: rgb(160, 110, 110);
}

#lightgreen {
  background-color: lightgreen;
}

#green {
  background-color: rgb(56, 165, 56);
}


input {
  border: 2px solid #5a4c3b;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  /* margin: 5px; */
  box-sizing: border-box;
  margin-top: 5%;
  /* background-color: #5a4c3b; */
  background-color: #f7f3e9;
  color: #1c1c1c;
}

input::placeholder {
  color :#1c1c1c;
  font-size:small;
}