#page {
    padding: 0;
    max-width: 500px;
    margin: auto;
}

ul {
    padding: 0;
    list-style-type:none
}

/* .rectangle2 {
    width: 30%;
    height: 50px;
}

.rectangle1 {
    width: 60%;
    height: 50px;
} */

.row {
    display: flow-root;
    align-items: center;
    margin-top: 5%;
}

.arrow {
    /* background-color: #28A745; */
    float: right;
}

.rectangle1 {
    width: 60%; /* Adjusted to stay within body boundaries */
    height: 50px;
    border-radius: 8px;
    background-color: grey;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.rectangle2 {
    width: 35%; /* Adjusted to stay within body boundaries */
    height: 50px;
    border-radius: 8px;
    background-color: #28A745;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Variations for rectangle2 */
.rectangle2-red {
    background-color: red;
}

.rectangle2-yellow {
    background-color: yellow;
}

.rectangle2-green {
    background-color: green;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.animation {
    animation: fadeIn 0.5s ease-out;
}